
@page
@using System.Net.Mail;
@using System.Net;

@model tut1.Pages.Customer.Home.BookingMadeModel

@{
    /*var customerName = Request["customerName"];
    //var customerEmail = Request.Form["Email"];
    //var customerRequest = Request.Form["Cost"];
    var errorMessage = "";
    var debuggingFlag = false;
        try
        {
        using (var message = new MailMessage())
            {
            message.To.Add(customerEmail);
            message.Subject = "Help request from - " + customerEmail;
                    message.Body = customerRequest;

            using (var client = new SmtpClient())
                {
                client.Host = "your-SMTP-host";
                client.Port = 25;
                client.UseDefaultCredentials = false;
                client.Credentials = new NetworkCredential("your-user-name-here", "your-account-password");
                client.EnableSsl = true;

            client.Send(message);
    }
    }
    }
    catch (Exception ex)
        {
    errorMessage = ex.Message;
    }

    below code goes in body of html
    <p>Thank You For , <b>customerEmail</b>.</p>
    @if (errorMessage == "")
            {
            <p>
            An email message has been sent to you in regards to your booking details:
        </p>
    <p><b>@customerRequest</b></p>
    }
        else
        {
        <p><b>The email was <em>not</em> sent.</b></p>
            <p>
            Please check that the code in the ProcessRequest page has
            correct settings for the SMTP server name, a user name,
            a password, and a "from" address.
        </p>
        if (debuggingFlag)
            {
            <p>The following error was reported:</p>
        <p><em>@errorMessage</em></p>
    }
    }

    */
}
<!DOCTYPE html>
<html>
<head>
    <title>Booking Confirmed</title>
</head>
<body>
    <p>Thank You For Using Our Cinema, <b>customerEmail</b>.</p>
    @if (true)
    {
        <p>
            An email message has been sent to you in regards to your booking details:
        </p>
        <p><b>customerRequest</b></p>
    }
    else
    {
        <p><b>The email was <em>not</em> sent.</b></p>
        <p>
            Please check that the code in the ProcessRequest page has
            correct settings for the SMTP server name, a user name,
            a password, and a "from" address.
        </p>
        if (true)
        {
            <p>The following error was reported:</p>
            <p><em>errorMessage</em></p>
        }
    }

    <a asp-page="Index" class="btn btn-success btn-square form-control" style="height:50px;">Back to Home</a>
</body>
</html>
